
   <div class="container-fluid col-md-8 offset-md-2 mt-3">
     
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Tip cveta</th>
          <th scope="col">Delete</th>
          <th scope="col">Update</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tip of tipovi" >
          <td scope="row">{{tip.id}}</td>
          <th scope="row">{{tip.tip}}</th>
          <td><button class="btn btn-danger" (click)="removeCvetTip($event,tip.id)">Delete</button> 
          <td><button class="btn btn-warning" (click)="updateCvetTip(tip.id)">Update</button> 
          </td>
         
        </tr>
      </tbody>
    </table>
    
    </div>