<div class="lokacija">
    <div id ="podaci_kontakt">
        <br>
		    <h1>Kontakt podaci</h1>
	    <br>
		    <p itemprop="name">Kuća cveća - "Cataleya"</p>
		<br>
		<strong>E-mail (0-24h):</strong> office@kucacvecaracataleya.com<br>
		<strong>Skype (08-22h CET):</strong> cvecara.Cataleya<br>
		<strong>Telefon (08-15h CET):</strong> <span itemprop="tel">+382 (0)68 257 128</span><br>
		<br>
		<strong>Ime firme:</strong> <span>Cataleya, Herceg Novi</span><br>
		<strong>PIB:</strong> <span>109859203 </span><br>
		<strong>Matični broj:</strong> <span>64476661</span><br>
		<strong>Šifra delatnosti:</strong> <span>4791 - Trgovina posredstvom pošte ili preko interneta</span><br>
	    <br>
    </div>
    <div id="mapa_div">
        <h1> Nalazimo se na ovoj lokaciji</h1>
        <div class="container-fluid mapa">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2943.4615696923247!2d18.510463315344126!3d42.46047097918033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x134c3c87b31521ef%3A0x5886d8a892c9039b!2sCvje%C4%87ara+Bonsai!5e0!3m2!1ssr!2sus!4v1533506951121" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
   

