<div id="sadrzajstranice" class="container">
<!--Tekst-->
		<div class="col-md-12">
			<h1 id="naslovstrane">Dostava cveća</h1>
      <p><span><br> </span></p>
    <div class="uvod">
      <span id="prvi">Kuća Cveća-"Cataleya" svojim potrošačima pruža uslugu besplatne dostave cveća za uže područje Herceg Novog, za gotove cvetne aranžmane sa sajta poručene putem online kupovine, čija cena prelazi iznos od 2000 dinara. Isporuke vršimo od 07:00 do 00:00.
      </span>
    </div>
    <div style="text-align: justify; font-family: Arial,Helvetica,sans-serif;">
      <p id = "justify" ><strong>NAJPOUZDANIJA ISPORUKA CVEĆA:</strong></p>
      <p id = "justify" >Cvećara <span style="font-weight: bold;">"Cataleya"</span> će naručeni aranžman isporučiti na tačnu adresu vodeći računa da se ispoštuje željeno vreme isporuke. Cvećara <span style="font-weight: bold;">"Cataleya"</span> zadržava pravo da cveće može isporučiti do 30 min. pre i do 30 min. posle željenog vremena naručioca.</p>
      <p id = "justify" >&nbsp;</p>
      <p id = "justify" bj >DOSTAVA CVEĆA NA KUĆNU ADRESU I IZVRŠENJE DOSTAVE:</p>
      <p id = "justify" >Cvećara <span style="font-weight: bold;">"Cataleya"</span> će naručeni cvetni aranžman dostaviti na adresu primaoca. Naručilac cveća može biti i primalac ako cveće naručuje za sebe.Ukoliko osoba kojoj treba uručiti cveće nije dostupna ( nije kod kuće&nbsp;na primer) u naznačeno vreme, cvetni aranžman može primiti bilo koja druga osoba na adresi primaoca (naravno ukoliko to želi ućiniti). Kada isporuči cveće, cvećara <span style="font-weight: bold;">"Cataleya</span>" će naručioca telefonom obavestiti o izvršenoj dostavi, te u vreme naznačeno za dostavu naručilac mora biti telefonski dostupan da bi se moglo stupiti u kontakt u slučaju iznenadnih komplikacija tokom dostave. Ukoliko naručilac želi isporuku cveća institucijama kao što su bolnica, kancelarija, škola, hotel itd. mora dati dodatne podatke - tačan naziv ustanove, adresa ustanove, telefon, broj sobe, sprat itd.</p>
      <p id = "justify">&nbsp;</p>
      <p id = "justify" >&nbsp;</p>
      <p id = "bj">IZVRŠENJE DOSTAVE:</p>
      <p id = "justify">Cvećara <span style="font-weight: bold;">"Cataleya"</span> će se maksimalno potruditi da izvrši dostavu cveća, no u dole navedenim</p>
      <p id = "justify">situacijama i ako se ne izvrši , dostava će se smatrati izvršenom:</p>
      <p id = "justify">&nbsp;</p>
      <p id = "justify">- ako osoba kojoj se cveće šalje odbija da primi cvetni aranžman</p>
      <p id = "justify">&nbsp;</p>
      <p id = "justify">- ako adresa i podaci o primaocu nisu tačni</p>
      <p id = "justify">&nbsp;</p>
      <p id = "justify">- ako primalac nije na navedenoj adresi u vreme naznačeno za dostavu a eventualna prisutna lica</p>
      <p id = "justify">&nbsp; (sustanari, komšije, kolege, rodbina) odbijaju da prime cveće</p>
      <p id = "justify">&nbsp;</p>
      <p id = "justify">Viša sila kojom je cvećara stavljena u situaciju da nije u mogućnosti da izvrši dostavu.</p>
      <p id = "justify">&nbsp;</p>
      <p id = "justify">&nbsp;</p>
      <p id = "justify">U prva tri slučaja obaveštavamo naručioca o nastaloj situaciji.</p>
      <p id = "justify">&nbsp;</p>
      <p id = "justify">Ukoliko u roku od 30 minuta ne možemo stupiti u kontakt sa naručiteljem, dostavu cveća ćemo smatrati izvršenom te naručitelj ukoliko želi može o sopstvenom trošku podići aranžman u roku od 24 sata od trenutka kada je obavešten sa naše strane.</p>
      <p id = "justify">&nbsp;</p>
      <p id = "justify">Pogledajte naš izbor cveća, naručite online i uživajte u brzoj dostavi za područje Herceg Novog i pojedine gradove&nbsp;u Srbiji!</p>
      <p id = "justify">&nbsp;</p>
      <p id = "bj">Kuća cveća "Cataleya"</p>
      <br> 
  </div>
<!--Banke-->
<div class="container">
    <div class="row payment">
      <div class="col-md-2">
        <a href="https://www.raiffeisenbank.rs/" target="_blank">
          <img src="http://www.cvecarakazablanka.com/public/images/payments/raiffeisen/raiffeisen.png" alt="Raiffeisen banka a.d. Beograd" title="Raiffeisen banka a.d. Beograd">
        </a>
      </div>
      <div class="col-md-2">
        <img src="http://www.cvecarakazablanka.com/public/images/payments/raiffeisen/mc_accpt_103_png.png" alt="Mastercard" title="Mastercard">
      </div>
      <div class="col-md-2">
        <img src="http://www.cvecarakazablanka.com/public/images/payments/raiffeisen/ms_accpt_103_png.png" alt="Maestro" title="Maestro">
      </div>
      <div class="col-md-2">
        <img src="http://www.cvecarakazablanka.com/public/images/payments/raiffeisen/thumb-visa-full-colour-card.jpg" alt="Visa" title="Visa">
      </div>
      <div class="col-md-2">
        <a href="javascript:void(0);">
          <img alt="MasterCard SecureCode Learn More" title="MasterCard SecureCode Learn More" onclick="javascript:window.open('http://www.mastercardbusiness.com/mcbiz/index.jsp?template=/orphans&amp;content=securecodepopup', 'LearnMore', '10, 10, width=750, height=550, scrollbars=yes,resizable=yes')" src="http://www.cvecarakazablanka.com/public/images/payments/raiffeisen/mc_sc_lm_gif9.gif" width="92">
        </a>
      </div>
    </div>
    <div class="row payment">
      <div class="col-md-12">
        <img src="http://www.cvecarakazablanka.com/public/images/payments/e-trustmark.png" alt="E-Trustmark" title="E-Trustmark">
      </div>
    </div>
  </div>




</div>