<header>
    <app-navbar></app-navbar>
</header>
<div id="pretraga_icons">
    <app-pretraga></app-pretraga>
    <div class="clearfix top-bar">
      <div class="drustvene_mreze right">
        <ul class="social-icons clearfix">
          <li class="linked-in">
            <a href="https://feeds.feedburner.com/Cvecara-online-CvecaraBeogradCvecaraNoviSadCvecaraNis" title="Cvjecara Sarajevo RSS feed"
              target="_blank"></a>
          </li>
          <li class="twitter">
            <a href="https://twitter.com/#!/cvecara" title=" Twitter " target="_blank"></a>
          </li>
          <li class="facebook">
            <a href="https://www.facebook.com/onlinecvecara" title="Facebook" target="_blank"></a>
          </li>
        </ul>
      </div>
    </div>
</div>

<!--centralni deo za šaltanje-->
<div class="container_za_saltanje">
  <router-outlet></router-outlet>
</div>

<!-- footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4 mt-4">

  <!--Copyright-->
  <div class="footer-copyright py-3 text-center " style="color: black;" id="cpr">
      © 2018 Copyright:
      <a style="color:  black;">Kuća cveća "Cataleya". Sva prava zadržana. </a>
  </div>
  <!--/Copyright-->

</footer>