footer {
    background-color: #dfd1b4!important;  
    
}
.bg-light{
    background-image:  url("pozadinska.jpg");
    padding: 22px;
}
.nav-item:hover{
    text-transform: uppercase;
}
#pretraga_icons{
    display: table-cell;
    text-align: -webkit-right;
    padding-left: 1200px;
    padding-top: 5px;
}
#navbarNav{
    padding-left: 550px;
}
#pretraga_icons {
    display: table-cell;
    padding-top: 5px;
    text-align: center;
}
.navbar-expand-lg .navbar-collapse {
    font-weight: bold;
    font-size: 23px;
    font-family: inherit;
}
.head-info {
    padding: 17px 0 0 0;
}
.right {
    float: right;
}

.clearfix {
    zoom: 1;
}

a.login {
    color: #faa834;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 700;
    padding-left: 25px;
}
.social-icons li {
    float: right;
    margin: 0 0 0 12px;
}
.social-icons li.linked-in a {
    background-position: -82px 0;
}
.social-icons li a {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(https://www.cvecara-online.com/images/social-sprites.png) no-repeat center center;
    background-position: 0 0;
}
ul {
    list-style-type: none;
  }