<div class="lista_cveca">
    <h2 class="heading">
        <span>Popularni aranžmani<br>
        </span>
    </h2>
<!--Uvodna promocija-->
    <div class="product-banner-wrap">
        <div class="container banner-content">
            <div class="head-title text-center">
                <h1>Najveći izbor cveća i cvetnih aranžmana</h1>
                <p>Mi nismo samo cvećara, mi dostavljamo cveće ali pre svega prenosimo vašu poruku!</p>     
            </div>
            <!-- 3 kol -->
            <div id="zoom-product" class="top-product-row product-cols-3">
                <div class="product-items clearfix active-product">
                    <div class="product-item">
                        <a href="/cvecara/?buketId=ruze_ferrero.jpg"><img src="//cvecara-online-hrd.appspot.com/offers/ruze_ferrero.jpg?v=7" alt="Slatke ruže"></a>
                        <div class="pro-details">
                            <a href="/cvecara/slatke_ruze?buketId=ruze_ferrero.jpg" class="pro-name">Slatke ruže</a>
                            <p class="pro-desc hide-mobile">Devet ruža u kombinaciji sa ekskluzivnim slatkišem</p>
                            <p class="price">od 39.90 €</p>
                            <a class="btn btn-default hide-mobile" href="/cvecara/slatke_ruze?buketId=ruze_ferrero.jpg" title="Slatke ruže" role="button">Pogledaj</a>
                        </div> 
                    </div>
                    <div class="product-item">
                        <a href="/cvecara/?buketId=saksijsko_cvece.png"><img src="//cvecara-online-hrd.appspot.com/offers/saksijsko_cvece.png?v=7" alt="Sezonsko šarenilo"></a>
                        <div class="pro-details">
                            <a href="/cvecara/sezonsko_sarenilo?buketId=saksijsko_cvece.png" class="pro-name">Sezonsko šarenilo</a>
                            <p class="pro-desc hide-mobile">Četiri saksije sezonskog cveća...</p>
                            <p class="price">od 34.90 €</p>
                            <a class="btn btn-default hide-mobile" href="/cvecara/sezonsko_sarenilo?buketId=saksijsko_cvece.png" title="Sezonsko šarenilo" role="button">Pogledaj</a>
                        </div> 
                    </div>
                    
                    <div class="product-item">
                        <a href="/cvecara/?buketId=ljiljan_gerber.jpg"><img src="//cvecara-online-hrd.appspot.com/offers/ljiljan_gerber.jpg?v=7" alt="Bela bajka"></a>
                        <div class="pro-details">
                            <a href="/cvecara/bela_bajka?buketId=ljiljan_gerber.jpg" class="pro-name">Bela bajka</a>
                            <p class="pro-desc hide-mobile">Beli ljiljani u kombinacii sa belim gerberima i zelenilom</p>
                            <p class="price">od 39.90 €</p>
                             <a class="btn btn-default hide-mobile" href="/cvecara/bela_bajka?buketId=ljiljan_gerber.jpg" title="Bela bajka" role="button">Pogledaj</a>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<!--Kolona 1: Dodati gde vode stranice i akciju dugmica detaljninje o cvetu-->
    <div class="red_box">
        <div class="prvi_box">
            <div class="slika_cveta">
                <a href="">
                    <img src="https://www.cvecara-online.com/offers/ruze_i_cokolada.jpg" alt="Ruže i Milka">
                </a>
            </div>
            <div class="detalji_cveta">
                <a href="#" class="pro-name">Ruže i Milka </a>
                <p class="pro-desc hide-mobile">Tri ruže i Milka sa lešnikom...slatka poruka</p>
                <p class="cena">od 14.90 €</p>
                <a class="btn btn-default hide-mobile" href="#" title="Ruže i Milka" role="button">Detaljnije</a>
            </div>
        </div> 
        <div class="prvi_box">
            <div class="slika_cveta">
                <a href="#">
                    <img src="https://www.cvecara-online.com/img/mile/buket_cveca_26.jpg" alt="Buket za svaku priliku">
                </a>
            </div>            
            <div class="detalji_cveta">
                 <a href="#" class="pro-name">Buket za svaku priliku </a>
                <p class="pro-desc hide-mobile">bele ruže, liziantusi i sezonsko zelenilo...</p>
                <p class="price">od 32.90 €</p>
                <a class="btn btn-default hide-mobile" href="#" title="Buket za svaku priliku" role="button">Detaljnije</a>
            </div>
        </div>
        <div class="prvi_box">
            <div class="slika_cveta">
                <a href="">
                    <img src="https://cvecara-online-hrd.appspot.com/img/mile/kut2.jpg" alt="Ljubičice">
                </a>
            </div>
            <div class="detalji_cveta">
                <a href="#" class="pro-name">Ljubičice u saksiji </a>
			    <p class="pro-desc hide-mobile">Lepo aranžirane dve saksije ljubičice u korpi.</p>
			    <p class="price">od 23.90 €</p>
			    <a class="btn btn-default hide-mobile" href="#" title="Ljubičice u saksiji" role="button">Detaljnije</a>
            </div>
        </div>
    </div>
<!--Reklamica-->
    <div class ="reklamica">
        <div class="product-banners">
            <a class="pro-banner-1" href="/korpe"><h3>Dostava <strong>poklona</strong> i <br>poklon korpi</h3></a>
        </div>
    </div>
<!--Kolona 2: Dodati gde vode stranice i akciju dugmica detaljninje o cvetu-->    
    <div class="red_box">
        <div class="prvi_box">
            <div class="slika_cveta">
                <a href="">
                    <img src="https://cvecara-online-hrd.appspot.com/img/mile/bela_orhideja_old.jpg" alt="Bela orhideja">
                </a>
            </div>
            <div class="detalji_cveta">
                <a href="#" class="pro-name">Bela Orhideja </a>
                <p class="pro-desc hide-mobile">Najelegantniji od svih cvetova, čist i nevin... </p>
                <p class="price">od 36.90 €</p>
                <a class="btn btn-default hide-mobile" href="#" title="Bela Orhideja" role="button">Detaljnije</a>   
            </div>
        </div>
        <div class="prvi_box">
            <div class="slika_cveta">
                <a href="">
                    <img src="https://cvecara-online-hrd.appspot.com/img/mile/ciklama.jpg" alt="Ciklama">
                </a>
            </div>
            <div class="detalji_cveta">
                <a href="#" class="pro-name">Ciklama </a>
                <p class="pro-desc hide-mobile">Ciklama u saksiji. Lep živ cvet za Osmi Mart.</p>
                <p class="price">od 19.90 €</p>
                <a class="btn btn-default hide-mobile" href="#" title="Ciklama" role="button">Detaljnije</a>
            </div>
        </div> 
        <div class="prvi_box">
            <div class="slika_cveta">
                 <a href="">
                    <img src="https://www.cvecara-online.com/img/mile/izlazak-sunca.jpg" alt="Ruže i Milka">
                </a>
            </div>
            <div class="detalji_cveta">
                <a href="#" class="pro-name">Izuzetan dan </a>
			    <p class="pro-desc hide-mobile">Lep buket iznenadiće svakog ko ga dobije...</p>
			    <p class="price">od 29.90 €</p>
			    <a class="btn btn-default hide-mobile" href="#" title="Izuzetan dan" role="button">Detaljnije</a>
            </div>
        </div>
    </div>
</div>
  